<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
    <h1>Add Resume for User</h1>
    <form action="/resume/create" method="POST">
        <input type="hidden" id="account_id" name="account_id" value="<%= account_id %>">
        <br />
        <br />
        Resume Name: <input id="resume_name" name="resume_name" type="text" />
        <br />
        <br />
        <select id="school_id" name="school_id" multiple="multiple">
            <% console.log(data[0]);%>
            <% for(var i=0; data[0].length > i; i++ ) { %>
            <option value="<%= data[0][i].school_id %>"><%= data[0][i].school_name %></option>
            <% } %>
        </select>
        <br />
        <br />
        <select id="company_id" name="company_id" multiple="multiple">
            <% console.log(data[1]);%>
            <% for(var i=0; data[1].length > i; i++ ) { %>
            <option value="<%= data[1][i].company_id %>"><%= data[1][i].company_name %></option>
            <% } %>
        </select>
        <br />
        <br />
        <select id="skill_id" name="skill_id" multiple="multiple">
            <% console.log(data[2]);%>
            <% for(var i=0; data[2].length > i; i++ ) { %>
            <option value="<%= data[2][i].skill_id %>"><%= data[2][i].skill_name %></option>
            <% } %>
        </select>
        <br />
        <br />
        <script type="text/javascript ">
            $(document).ready(function() {
                $('#school_id').multiselect();
                $('#company_id').multiselect();
                $('#skill_id').multiselect();

            });
        </script>
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>