<%- include("../includes/header.ejs", {title:"Select an Account"}); %>
    <h1>Select Account</h1>
    <form action="/resume/insert" method="get">
        <select id="account_id" name="account_id">
            <% for(var i=0; accounts.length > i; i++ ) { %>
            <option value="<%= accounts[i].account_id %>"><%= accounts[i].first_name %> <%= accounts[i].last_name %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#account_id').multiselect();
            });
        </script>




        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>