<%- include("../includes/header.ejs", {title: "Update " + resume_name}); %>

<h1>Update <%= resume_name%></h1>
<% if (locals.success) {%>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Resume was successfully saved. %>
    </div>
</div>
<% }%>

<form action="/resume/update" method="POST">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume_id %>">
    <input type="hidden" id="account_id" name="account_id" value="<%= account_id %>">

    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume_name %>" />
    <br />
    <br />
    <!-- Real data -->
    <select id="school_id" name="school_id" multiple="multiple" class="mult">
        <% console.log(data[0]);%>
        <% for(var i=0; data[0].length > i; i++ ) { %>
            <% for(var j=0; school.length > j; j++ ) { %>
                <% if (school[j].school_id == data[0][i].school_id) { %>
                    <option selected value="<%= data[0][i].school_id %>"><%= data[0][i].school_name %></option>
                <% } else { %>
                    <option value="<%= data[0][i].school_id %>"><%= data[0][i].school_name %></option>
                    <% } %>
            <% } %>
        <% } %>
    </select>
    <br />
    <br />
    <select id="company_id" name="company_id" multiple="multiple" class="mult">
        <% console.log(data[1]);%>
        <% for(var i=0; data[1].length > i; i++ ) { %>
            <% for(var j=0; company.length > j; j++ ) { %>
                <% if (company[j].company_id == data[1][i].company_id) { %>
                    <option selected value="<%= data[1][i].company_id %>"><%= data[1][i].company_name %></option>
                <% } else { %>
                    <option value="<%= data[1][i].company_id %>"><%= data[1][i].company_name %></option>
                    <% } %>
            <% } %>
        <% } %>
    </select>
    <br />
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple" class="mult">
        <% console.log(data[2]);%>
        <% for(var i=0; data[2].length > i; i++ ) { %>
            <% for(var j=0; skill.length > j; j++ ) { %>
                <% if (skill[j].skill_id == data[2][i].skill_id) { %>
                    <option selected value="<%= data[2][i].skill_id %>"><%= data[2][i].skill_name %></option>
                <% } else { %>
                    <option value="<%= data[2][i].skill_id %>"><%= data[2][i].skill_name %></option>
                    <% } %>
            <% } %>
        <% } %>
    </select>


    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.mult').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>
