<%- include("../includes/header.ejs", {title:"Companies - " + result[0].company_name}); %>
    <h1>resumes</h1>
    <ul>
        <li>First Name: <%= result[0].first_name %></li>
        <li>Last Name: <%= result[0].last_name %></li>
        <li>Email: <%= result[0].email %></li>
    </ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>