<%- include("../includes/header.ejs", {title:"resume - View All"}); %>


<h1>resumes</h1>
        <a href="/resume/add/selectUser">Add New resume</a> <br />

        <br />

        <table border="1" class="table table-hover">
            <tr><th>Name</th><th>Resume Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].first_name%> <%= result[i].last_name%></a></td>
                <td><a href="/resume/edit?resume_id=<%= result[i].resume_id %>&account_id=<%=result[i].account_id%>"><%= result[i].resume_name %></td></a>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>
