<%- include("./includes/header.ejs", {title: title}); %>

    <a href="/company/all">Companies - List all companies and modify records.</a>
    <br>
    <a href="/account/all">Accounts  - List all accounts and modify records.</a>
    <br>
    <a href="/address/all">Addresses - List all addresses and modify records.</a>
    <br />
    <a href="/skill/all">Skills - List all skills and modify records.</a>
    <br />
    <a href="/resume/all">Resumes - List all resumes and modify records.</a>
    <br />


<%- include("./includes/footer.ejs"); %>
