<%- include("../includes/header.ejs", {title:"Companies - " + result[0].skill_name}); %>
    <h1>Skills</h1>
    <ul>
        <li>skill Name: <%= result[0].skill_name %></li>
        <li>skill Description: <%= result[0].description %></li>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>