body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

header, footer {
  padding: 1em;
  color: white;
  clear: left;
  text-align: center;
  width: 100%;
}

header, footer {
  background-color: darkslategrey;
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
}

nav {
  float: left;
  max-width: 160px;
  margin: 0;
  padding-left: 1em;
  padding-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul a {
  text-decoration: none;
}

article {
  margin-left: 170px;
  border-left: 1px solid gray;
  margin-right: 170px;
  padding-left: 5em;
  padding-top: 1em;
  height:100vh;
}
